@model Consultorio.Domain.Models.PerguntaGrupo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
<fieldset>
    <h4> Confirma a exclusão do grupo de perguntas: @Html.DisplayFor(model => model.Descricao) ?</h4>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Excluir" class="btn btn-primary" />
        <input type="button" class="btn btn-primary" value="Cancelar" onclick="location.href='@Url.Action("Index", "PerguntaGrupo")'" />
    </p>
}
